.connect{width:300px;height:33px;padding:5px;}
.connect a{display:block;width:33px;height:33px;float:left;margin: 0px 5px;}
.connect .qq_c{background:url(login_icon_bg.png) no-repeat 0px 0px;}
.connect .sina_c{background:url(login_icon_bg.png) no-repeat -51px 0px;}
.connect .alipay_c{background:url(login_icon_bg.png) no-repeat -104px 0px;}
.connect .wx_c{background:url(login_icon_bg.png) no-repeat -159px 0px;}