<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
   
	<filter>
		<description>字符集过滤器</description>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<description>字符集编码</description>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!--  
	<filter>
		<description>gzip</description>
		<filter-name>compressionFilter</filter-name>
		<filter-class>com.lmz.web.util.filter.CompressionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>compressionFilter</filter-name>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.bmp</url-pattern>
		<url-pattern>*.ico</url-pattern>
	</filter-mapping>
-->
		

	<context-param>
		<param-name>log4j.configurationFile</param-name>
		<param-value>log4j2.xml</param-value>
	</context-param>

	<listener>
		<listener-class>cn.lmz.mike.web.base.util.listener.Log4j2ConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>cn.lmz.mike.web.base.util.listener.UserSessionListener</listener-class>
	</listener>


 	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>confReloadCheckInterval</param-name>
			<param-value>60</param-value>
		</init-param>
		<init-param>
			<param-name>statusEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>sysout:INFO</param-value>
		</init-param>
		<init-param>
			<param-name>statusPath</param-name>
			<param-value>/status</param-value>
		</init-param>
	</filter>
		
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

 
 
  
 <!-- struts2 Filter 新 -->
 <!--
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>   
        <dispatcher>FORWARD</dispatcher>    
	</filter-mapping>
-->
 <!-- // struts2 Filter -->


	<!-- struts2 Filter -->

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- // struts2 Filter -->

 <!-- listener -->
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:conf/applicationContext.xml,classpath:conf/applicationContext-*.xml,classpath*:applicationContext-*.xml</param-value>
	</context-param>
    <listener>
     <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener> 
   
    <!-- 
    <context-param>
		<param-name>cacheLocation</param-name>
		<param-value>/WEB-INF/conf/cache/cache.xml</param-value>
	</context-param>	
    <listener>
     <listener-class>com.lmz.base.util.listener.LmzListener</listener-class>
    </listener> 
   -->
  <!-- //listener -->
 

    <jsp-config>
		<taglib>
			<taglib-uri>/lmz-tags</taglib-uri>
			<taglib-location>/WEB-INF/tld/lmz.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	<session-config>
		<session-timeout>50000</session-timeout>
	</session-config>
   <welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	    <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>	
   <error-page>
     <error-code>404</error-code>
     <location>/error/404.html</location>
  </error-page>
  <error-page>
     <error-code>405</error-code>
     <location>/error/404.html</location>
 </error-page>
 <error-page>
     <exception-type>java.lang.Exception</exception-type>
     <location>/error/500.html</location>
 </error-page>

 </web-app>