

.mainbanner{height:358px;overflow:hidden; position:relative;}
.mainbanner_window{left:50%;width:2000px;height:100%;overflow:hidden;margin-left:-1000px;position:absolute;}
.mainbanner_window ul{width:999999px;height:100%;position:relative;}
.mainbanner_window li{background:#fff;width:2000px;height:100%;text-align:center;font-size:0px;float:left;display:inline;}
.mainbanner_list{left:50%;top:300px;width:500px;height:100%;margin-left:-75px;position:absolute;}
.mainbanner_list li{width:30px;height:30px;overflow:hidden;float:left;display:inline;}
.mainbanner_list a{background:url("d_1.png") no-repeat;width:12px;height:12px;line-height:25px;overflow:hidden;text-align:center;color:rgb(255, 255, 255);font-size:12px;font-weight:700;float:left;display:inline-block;line-height:999em;}
.mainbanner_list li.active a{background:url("d_2.png") no-repeat;text-decoration:none;}
.mainbanner_list li a:hover{background:url("d_2.png") no-repeat;text-decoration:none;}

