#main .encircle{width:1200px;border:1px solid #eaeaea;padding:1px;overflow:hidden;}
#main .encircle h1{width:1167px;height:34px;line-height:34px;color:#fff;font-weight:normal;padding-left:33px;background-color:#49a9cf;}
#main .encircle .deliver{width:1107px;margin:14px 0px 17px 69px;overflow:hidden;}

#main .encircle .deliver1{width:1107px;margin:14px 0px 17px 69px;overflow:hidden;}

#bankdiv{overflow:auto;width:1000px;margin:auto auto;clear:both;}
#bankdiv input{}
#bankdiv>div{width:150px;height:28px;line-height:28px;float:left;border:1px solid #eee;padding:0px;margin:5px;}
#bankdiv>div input{margin:8px;}
#btndiv{width:90%;text-align:center;margin-top:50xp;height:60px;}
#btndiv a{margin:20px auto;margin-left:450px;}

#bankdiv>div.a_ICBC{background:url(bank.png) no-repeat right -140px;}
#bankdiv>div.a_ABC{background:url(bank.png) no-repeat right -532px;}
#bankdiv>div.a_CCB{background:url(bank.png) no-repeat right -336px;}

#bankdiv>div.a_SPDB{background:url(bank.png) no-repeat right -588px;}
#bankdiv>div.a_BOC{background:url(bank.png) no-repeat right -840px;}
#bankdiv>div.a_CMB{background:url(bank.png) no-repeat right -784px;}

#bankdiv>div.a_CIB{background:url(bank.png) no-repeat right -756px;}
#bankdiv>div.a_GDB{background:url(bank.png) no-repeat right -196px;}
#bankdiv>div.a_CMBC{background:url(bank.png) no-repeat right -448px;}

#bankdiv>div.a_HZCB{background:url(bank.png) no-repeat right -252px;}
#bankdiv>div.a_CEB{background:url(bank.png) no-repeat right -168px;}
#bankdiv>div.a_SHBANK{background:url(bank.png) no-repeat right -672px;}


#bankdiv>div.a_NBBANK{background:url(bank.png) no-repeat right -504px;}
#bankdiv>div.a_SPABANK{background:url(bank.png) no-repeat right -560px;}
#bankdiv>div.a_BJRCB{background:url(bank.png) no-repeat right 0px;}

#bankdiv>div.a_FDB{background:url(bank.png) no-repeat right -112px;}
#bankdiv>div.a_PSBC{background:url(bank.png) no-repeat right -868px;}
#bankdiv>div.a_COMM{background:url(bank.png) no-repeat right -392px;}

#bankdiv>div.a_BJBANK{background:url(bank.png) no-repeat right -28px;}
#bankdiv>div.a_SHRCB{background:url(bank.png) no-repeat right -644px;}
#bankdiv>div.a_CITIC{background:url(bank.png) no-repeat right -896px;}


