
#lpagediv{width:100%;float:none;height:30px;line-height:30px;clear:both;padding-top:10px;}
#lpagediv div{margin:0 auto;overflow:auto;margin-left:200px;}

#lpagediv .ip{display:block;width:18px;height:18px;line-height:18px;float:left;text-align:center;}
#lpagediv #fp{background:url('lmzpimg/fpage.gif') no-repeat center;width:28px;border:none;margin:0px;padding:0px;}
#lpagediv #lp{background:url('lmzpimg/lpage.gif') no-repeat center;width:28px;border:none;margin:0px;padding:0px;}
#lpagediv #pp{background:url('lmzpimg/prevp.gif') no-repeat center;width:28px;border:none;margin:0px;padding:0px;}
#lpagediv #np{background:url('lmzpimg/nextp.gif') no-repeat center;width:28px;border:none;margin:0px;padding:0px;}